<header class="flex h-12 items-center justify-between border-b border-gray-200 bg-white px-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:px-6">
    <!-- toggle sidebar Button -->
    <button
        mat-icon-button
        (click)="toggleSidebar()"
        class="text-gray-600 dark:text-gray-300">
    <mat-icon class="text-gray-700 dark:text-white ">menu</mat-icon>
    </button>


    <!-- right side actions -->
     <div class="flex items-center gap-2">
        <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>
            {{ isDarkMode ? 'dark_mode' : 'light_mode' }}
        </mat-icon>
        </button>
     </div>
</header>