body{
    background-color: #222;
}

table.SO{
    width: 30%;
}
table.SO th{
    padding: 20px;
    font-size: 20px;
}
table.SO img{
    width: 70px;
}

table.dev img{
    width: 70px;
}

table.ED img{
    width: 80px;
}

