{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portafolio</title>
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Hi 👋! My name is Joshua</h1>
    <h3>I'm a software developer</h3>
    <h2 id="about">💫 About Me:</h2>
    <p>💻 Experiencia en Bases de Datos: A lo largo de mi carrera, he participado en diversos proyectos que requieren el manejo de bases de datos, tanto relacionales como no relacionales. Tengo una sólida comprensión y experiencia en el uso de sistemas de gestión de bases de datos como SQL, PostgreSQL y MongoDB. Esta experiencia me ha permitido diseñar y optimizar estructuras de datos complejas, garantizando el rendimiento y la integridad de la información en aplicaciones de diversa índole.</p>
    <p>🐍 Programación con Python: Mi habilidad en programación con Python es uno de mis mayores activos, especialmente en el ámbito de la ciencia de datos y el desarrollo de aplicaciones web. He creado soluciones robustas y eficientes utilizando el framework Django, desde aplicaciones simples hasta sistemas integrados complejos. Además, he aplicado Python para realizar análisis de datos, automatización de procesos y la creación de modelos predictivos, siempre con un enfoque en la optimización y el rendimiento.</p>
    <p>🖥️ Dominio de Sistemas Operativos: Aunque estoy familiarizado con Windows, mi verdadera especialización radica en el ecosistema Linux. He trabajado extensamente con diversas distribuciones de Linux, incluyendo Pop!_OS, Ubuntu, Kali Linux, y Debian. Mi experiencia con estos sistemas operativos no se limita a su uso básico, sino que abarca la administración avanzada, la configuración de entornos de desarrollo, y la resolución de problemas a nivel de sistema, lo que me permite maximizar la eficiencia en mis proyectos.</p>
    <p>🌐 Conocimientos en Redes de Computación: Mi experiencia también abarca el ámbito de las redes de computación, donde he adquirido conocimientos sólidos en conmutación y enrutamiento. He trabajado en la configuración y administración de redes, asegurando la conectividad y seguridad de los sistemas que desarrollo. Esta competencia me permite entender y optimizar la comunicación entre diferentes componentes de una infraestructura tecnológica, mejorando así el rendimiento general de las aplicaciones y servicios.</p>
    
    <h1>💻 Tech Stack:</h1>
        <h1 class="logos_front">Frontend</h1>
            <p>HTML</p>
            <p>CSS3</p>
            <p>JavaScripts</p>
            <p>React</p>
            <p>Angular</p>
            <p>Boostrap</p>
        <h1 class="backend">Backend</h1>
            <p>Python</p>
            <p>Django</p>
            <p>Nginx</p>
        <h1 class="DB">Bases de datos</h1>
            <p>MOngoDB</p>
            <p>MySQL</p>
            <p>Oracle</p>
            <p>PostgreSQL</p>
            <p>SQLite</p>  
        <h1 class="controlV">Control de versiones</h1>
            <p></p>
            <p></p>
            <p></p>
        <h1 class="ED">entornos de desarrollo</h1>
            <p></p>
            <p></p>
        <h1 class="dev">DevOps</h1>
            <p></p>
        <h1 class="SO">SO</h1>
            <p></p>
            <p></p>
</body>
</html>