<section class="flex justify-center p-6">
  <div class="max-w-5xl rounded-2xl bg-white dark:bg-[#1e2130] p-6 shadow-lg border border-gray-200 dark:border-gray-700 flex flex-col md:flex-row gap-6 items-center transition ease-in-out hover:shadow-xl hover:border-white transform hover:-translate-y-2 hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500 w-screen">
    @if (loading) {
      <p>Cargando...</p>
    } @else {

      <img [src]="dashboard?.imagen"
           alt="imagen dashboard"
           class="w-40 h-40 rounded-full object-cover border border-gray-300 dark:border-gray-600 shadow"/>

      <div class="flex flex-col gap-2 flex-1">
        <h1 class="text-3xl font-bold mb-4 text-gray-900 dark:text-white">Sobre mi</h1>
        <p class="dark:text-white text-gray-700">{{ dashboard?.descripcion }}</p>
      </div>

    }
  </div>
</section>

<section class="flex justify-center p-6 mt-10 cursor-default">
  <div class="max-w-5xl w-full">
    <h2 class="font-bold text-2xl text-gray-900 dark:text-white mb-6">
      mis proyectos destacados
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        *ngFor="let project of projects"
        class="rounded-2xl bg-white dark:bg-[#1e2130] 
               border border-gray-200 dark:border-gray-700 
               shadow-lg p-5 transition duration-300 
               hover:scale-105 hover:-translate-y-1 
               hover:shadow-xl hover:ring-2 
               hover:ring-blue-400 dark:hover:ring-purple-500 cursor-default">

        <img
          [src]="project.image"
          [alt]="project.title"
          class="w-full h-40 object-cover rounded-lg mb-4 
                 border border-gray-200 dark:border-gray-600">

        <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">
          {{ project.title }}
        </h3>

        <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">
          {{ project.description }}
        </p>

        <a 
          [href]="project.url"
          target="_blank"
          class="inline-block bg-slate-400 dark:bg-[#818cf8] 
                text-black font-bold px-6 py-3 
                rounded-full shadow 
                hover:text-black transition duration-300 
                hover:scale-105 cursor-pointer">
          Ver proyecto
        </a>

      </div>
    </div>

    <div class="flex justify-center mt-8">
      <a
        routerLink="/proyectos"
        class="inline-block bg-slate-400 dark:bg-[#818cf8] text-black font-bold px-6 py-3 rounded-full shadow hover:text-black transition duration-300 hover:scale-105 cursor-pointer hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500"
      >
        Mis proyectos
      </a>
    </div>

  </div>
</section>

<section class="flex justify-center p-6">
  <div class="max-w-5xl w-full">
    <h2 class="dark:text-white font-bold text-2xl mb-6">Tecnologías</h2>

    <!-- CARDS -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

      <!-- Lenguajes -->
      <div class="p-5 bg-white dark:bg-[#1e2130] rounded-xl hover:bg-slate-50 shadow-lg transition duration-300 hover:scale-105 hover:-translate-y-1 hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500">
        <h3 class="text-xl font-semibold dark:text-white mb-4">Lenguajes</h3>

        <div class="flex flex-wrap gap-4">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="w-10 h-10"/>
        </div>

        <p class="mt-3 text-gray-600 dark:text-gray-300 text-sm">
          Lenguajes que utilizo para crear aplicaciones, scripts y proyectos completos.
        </p>
      </div>

      <!-- Frameworks -->
      <div class="p-5 bg-white dark:bg-[#1e2130] rounded-xl hover:bg-slate-50 shadow-lg flex flex-col justify-between h-full transition duration-300 hover:scale-105 hover:-translate-y-1 hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500">
        <h3 class="text-xl font-semibold dark:text-white mb-4">Frameworks y Librerías</h3>

        <div class="flex flex-wrap gap-4">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" class="w-10 h-10"/>
        </div>

        <p class="mt-3 text-gray-600 dark:text-gray-300 text-sm">
          Tecnologías que uso para interfaces modernas, APIs y aplicaciones completas.
        </p>
      </div>

      <!-- Herramientas -->
      <div class="p-5 bg-white dark:bg-[#1e2130] rounded-xl hover:bg-slate-50 shadow-lg transition duration-300 hover:scale-105 hover:-translate-y-1 hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500">
        <h3 class="text-xl font-semibold dark:text-white mb-4">Herramientas</h3>

        <div class="flex flex-wrap gap-4">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" class="w-10 h-10"/>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg" class="w-10 h-10"/>
        </div>

        <p class="mt-3 text-gray-600 dark:text-gray-300 text-sm">
          Herramientas que utilizo para desarrollar, probar y gestionar mis proyectos.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="flex justify-center p-6 mt-10">
  <div class="max-w-5xl w-full">

    <h2 class="text-2xl font-bold dark:text-white mb-6">
      Mis Videos 
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 hover:cursor-default">

      <div
        *ngFor="let video of videos"
        class="flex flex-col h-full rounded-xl bg-white dark:bg-[#1e2130]
               border border-gray-200 dark:border-gray-700
               shadow p-5 transition duration-300
               hover:shadow-xl hover:scale-105 hover:-translate-y-1.2
               hover:bg-slate-50 hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">
          {{ video.title }}
        </h3>

        <div class="aspect-video w-full overflow-hidden rounded-lg mb-4 bg-black">
          <iframe
            class="w-full h-full rounded-lg"
            [src]="video.url | safeUrl"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>

        <p class="text-black dark:text-white text-sm flex-grow">
          {{ video.description }}
        </p>
        

        
      </div>

      
    </div>
    <div class="flex justify-center mt-10">
      <a
        href="https://www.youtube.com/@xxeyt"
        target="_blank"
        class="w-fit px-10 py-3 rounded-full bg-slate-400 dark:bg-[#818cf8] text-black font-bold shadow-lg
              hover:text-black hover:scale-105 transition hover:ring-2 hover:ring-blue-400 dark:hover:ring-purple-500"
      >
        Mi canal 
      </a>
    </div>


  </div>
</section>




